{% extends "base.html" %}
{% block title %}Актуальные заказы{% endblock title %}

{% block content %}
<div class="row" xmlns="http://www.w3.org/1999/html">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="#">Главная</a></li>
                        <li class="breadcrumb-item active">Актуальные заказы</li>
                    </ol>
                </div>
                <h4 class="page-title">Таблица актуальных заказов</h4>
            </div>
        </div>
    </div>
    <div class="card border-0 shadow-sm">
        <div class="card-body" style="padding: 1.5rem!important;">
            <div class="row mb-2">
                <div class="col-7 d-flex">
                    <div class="d-flex align-items-center">
                        <label class="me-2">Статус:</label>
                        <select class="form-select" style="width: auto">
                            <option selected>Все</option>
                            {% for st in status %}
                                <option>{{ st.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="col-5 text-sm-end">
                    <button id="add" class="btn btn-primary">Добавить</button>
                    <button id="filter" class="btn btn-light"><i class="bi bi-filter"></i></button>
                    <button id="ex" class="btn btn-light">Экспорт</button>
                </div>
            </div>
            <table id="table_actual_order" class="table">
                <thead class="table-light">
                <tr>
                    <th><input type="checkbox"></th>
                    <th>Наименование</th>
                    <th>Количество</th>
                    <th>Желаемая дата готовности</th>
                    <th>Состояние готовности</th>
                    <th>Примечание</th>
                    <th class="text-right">Действия</th>
                </tr>
                </thead>
                <tbody class="table-hover">
                {% for order in orders %}
                <tr id="{{ order.id }}">
                    <td><input type="checkbox"></td>
                    <td>{{ order.product_id.name }}</td>
                    <td>{{ order.count }} шт.</td>
                    <td>{{ order.date|date:"d.m.Y" }}</td>
                    <td>{{ order.status.name }}</td>
                    <td>{{ order.note }}</td>
                    <td>
                        <i class="fa-regular fa-pen-to-square"></i>
                        <i class="fa-regular fa-trash-can"></i>
                    </td>
                </tr>

                {% empty %}
                <tr id="no_row"><td colspan="7">В базе нет актуальных заказов</td></tr>
                {% endfor %}
                </tbody>
            </table>
            <div id="add_layer" class="d-none">
                <form id="add_form" class="form col-4">
                    {{ form }}
                    <button type="submit" class="btn btn-success mt-2">Добавить</button>
                </form>
            </div>
        </div>


    </div>
{% endblock content %}


{% block script %}

    $('#add').on('click', function() {
        $('#add_layer').toggleClass('d-none')
    });

    $('#add_form').on('submit', function(e) {
        e.preventDefault();
        var data = 'action=edit&' + $(this).serialize()
        if ($('tr#no_row')) {
            $('tr#no_row').remove()
        }

        $.ajax({
            url: '/actual',
            type: 'POST',
            data: csrf + data,
            success: function(res) {
                if (res.scs) {
                    $('#table_actual_order tbody').prepend('<tr id="'+ res.order.id+'">' +
                                                            '<td><input type="checkbox"></td>'+
                                                            '<td>'+res.order.product+'</td>'+
                                                            '<td>'+res.order.count+' шт.</td>'+
                                                            '<td>'+res.order.date+'</td>'+
                                                            '<td>'+res.order.status+'</td>'+
                                                            '<td>'+res.order.note+'</td>'+
                                                            '<td><i class="fa-regular fa-pen-to-square"></i>'+
                                                                '<i class="fa-regular fa-trash-can"></i></td>'+
                                                            '</tr>')
                } else {
                    console.log('error on server side');
                }
            },
            error: function(request,msg,error) {
                error_msg(request,msg,error)
            }
        })
        $(this).trigger("reset");

    });


    $('#table_actual_order').on('click', '.row_delete', function(e) {
        e.preventDefault();
        var id_row = $(this).parent().parent().attr('id')
        var data = 'action=delete&id=' + id_row

        $.ajax({
            url: '/actual',
            type: 'POST',
            data: csrf + data,
            success: function(res) {
                if (res.scs) {
                    $('tr#'+id_row).remove();
                    if (!$('#table_actual_order tbody').find('tr').length) {
                        $('#table_actual_order tbody').append('<tr id="no_row"><td colspan="7">В базе нет актуальных заказов</td></tr>')
                    }
                } else {
                    console.log('error on server side');
                }
            },
            error: function(request,msg,error) {
                error_msg(request,msg,error)
            }
        })
    });

    $('#table_actual_order').on('click', '.fa-pen-to-square, .fa-floppy-disk', function(){
        $(this).toggleClass('fa-pen-to-square')
        $(this).toggleClass('fa-floppy-disk active')
        var id_row = $(this).parent().parent().attr('id')

        if ($(this).hasClass('active')) {
            $('table#table_actual_order tbody tr#'+id_row+' td:eq(1)').append('<br><br><select name="product" class="form-select mb-2">'+
                                                                                '<option value="1">ЛГШ-501</option>'+
                                                                                '<option value="2">ЛГШ-503</option>'+
                                                                                '<option value="3">ЛГШ-513</option>'+
                                                                                '</select>')
            $('table#table_actual_order tbody tr#'+id_row+' td:eq(2)').append('<br><br><div class="input-group"><input type="number" name="count" class="form-control mb-2" min="1" max="1000" required="">'+
                                                                                '<span class="input-group-text mb-2">шт.</span></div>')
            $('table#table_actual_order tbody tr#'+id_row+' td:eq(3)').append('<br><br><input type="date" name="date" value="2022-04-20" class="form-control mb-2" required="">')
            $('table#table_actual_order tbody tr#'+id_row+' td:eq(4)').append('<br><br><select name="status" class="form-select mb-2">'+
                                                                                '<option value="1">Принят</option>'+
                                                                                '<option value="2">В производстве</option>'+
                                                                                '<option value="3">Выполнен</option>'+
                                                                                '</select>')
            $('table#table_actual_order tbody tr#'+id_row+' td:eq(5)').append('<br><br><input type="text" name="note" class="form-control mb-2">')
            $('table#table_actual_order tbody tr#'+id_row+' td:eq(6)').prepend('<i class="fa-solid fa-ban"></i>')



        } else {
            $('table#table_actual_order tbody tr#'+id_row).find('select').remove()
            $('table#table_actual_order tbody tr#'+id_row).find('input').remove()
            $('table#table_actual_order tbody tr#'+id_row).find('.input-group').remove()
            $('table#table_actual_order tbody tr#'+id_row).find('br').remove()
            $('table#table_actual_order tbody tr#'+id_row).find('.fa-ban').remove()
        }
    });
{% endblock %}